/* .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
} */

.card-image > figure > img {
	border-radius: 8%;
}

/* .fa-star i {
	color: yellow;
} */


/* 
.card button {
    border-radius: 20px;
} */
